block append variables
  -
    var pageHeader = {
      title: 'Create Fancy Plugin',
      description: 'Life isn\'t about finding yourself. Life is about creating yourself.',
      url: 'https://humayunkabir.github.io/create-fancy-plugin/',
      linkText: 'See full Documentation'
    }

mixin documentation
  ol.pl-3
    li
      p.mb-0 Clone 
        code.font-weight-bold.font-italic create-fancy-plugin
        |  and rename it with your plugin name.
      +componentCardLib
        | git clone git@github.com:humayunkabir/create-fancy-plugin.git PLUGIN_NAME
      span or
      +componentCardLib
        | git clone https://github.com/humayunkabir/create-fancy-plugin.git PLUGIN_NAME
    li
      p.mb-0 Enter into your plugin folder.
      +componentCardLib
        | cd PLUGIN_NAME
    li
      p.mb-0 Change your remote's URL from 
        span.font-weight-bold SSH
        |  or 
        span.font-weight-bold HTTPS
        |  with the 
        code git remote set-url
        |  command.
        +componentCardLib
          | git remote set-url origin git@github.com:USERNAME/PLUGIN_NAME.git
        span or
        +componentCardLib
          | git remote set-url origin https://github.com/USERNAME/PLUGIN_NAME.git
        p.mb-0 Verify that the remote URL has changed.
        +componentCardLib
          | git remote -v
    li
      p.mb-0 Download dependencies 
      +componentCardLib
       | npm i
      li
        p.mb-0 To start
      +componentCardLib
        | gulp
      span or
      +componentCardLib
        | npm start
    li
      p.mb-0 Change the reference of 
        code create-fancy-plugin
        |  with your plugin name and the 
        code url
        | s in 
        code package.json
        |  file.
    li
      p.mb-0 To build  
        code dist
        |  run:
      +componentCardLib
        | gulp dist
      span or
      +componentCardLib
        | npm run build
    
  p.mb-0 Changing a remote's URL: 
    a(href='https://help.github.com/en/articles/changing-a-remotes-url' target='_blank') https://help.github.com/en/articles/changing-a-remotes-url
